
         .main{
            border: 1px solid black;
            border-radius:50%;
            height: 400px;
            width: 400px;
            background-color:black;
            margin-left: 500px;
            margin-top: 150px;
        }

        .c1{
            border: 1px solid white;
            border-radius:50%;
            height: 350px;
            width: 350px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: white;
        }
        .c2{
            border: 1px solid white;
            border-radius:50%;
            height: 300px;
            width: 300px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: black;
        }
        
        .c3{
            border: 1px solid black;
            border-radius:50%;
            height: 250px;
            width: 250px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: blue;
        }
       
        .c4{
            border: 1px solid black;
            border-radius:50%;
            height: 200px;
            width: 200px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: blue;
        }
        .c5{
            border: 1px solid black;
            border-radius:50%;
            height: 150px;
            width: 150px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: red;
        }
        .c6{
            border: 1px solid black;
            border-radius:50%;
            height: 100px;
            width: 100px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: red;
        }
        .c7{
            border: 1px solid black;
            border-radius:50%;
            height: 50px;
            width: 50px;
            margin-left: 25px;
            margin-top: 25px;
            background-color: yellowgreen;
        }   
  